<% provide(:title, "規約") %>
<div class="container">
  <h1>規約</h1>
    <p>
      Instagramへようこそ！<br>
      この利用規約は、Instagramを利用する際に適用されるものであり、Instagramサービスに関する情報の概要を下記で提供しています。<br>Instagramアカウントを作成する場合、またはInstagramをご利用になる場合は、この規約に同意していただきます。
    </p>
</div>